bigred {
  color: rgb(255, 72, 0);
  font-size: 30px;
}

largered {
  color: rgb(255, 72, 0);
  font-size: 50px;
}

.box {
  color: rgb(75, 186, 238);
  height: 50px;
  width: 200px;
  margin: 20px;
}

dinglan {
  height: 180px;
  width: 100%;
  background-color: rgba(64, 255, 160, 0.911);
  display: flex;
  align-items: center;
}
